nohup.out
launcher/modules/__pycache__/
reference.py
BSCraft_Launcher_Error.txt
launchCMD.txt
logs/
BSCraft_Bootstrapper_Error.txt
server/cogs/__pycache__/
dist/
bootstrapper/modules/__pycache__/
launcher/modules/ftpConfig.py
.env/
build/
BSCraftLauncher.spec
BSCraftBootstrapper.spec